*{
    padding:0; margin:0;
    text-decoration:none;
  }
  
  body{
    width: auto;
    height: auto;
    background-color: #FFEFA0;
    margin: 0;
  }
  
  .wrap{
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .menu{
    background-color: #FCA652;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 40%;
    gap: 250px;
  }
  
  .option{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 80px;
  
    height: 76px;
  }

  
  .img_button{
    width: 31px;
    height: 29px;
  }
  
  .img_button_exit{
    width: 165px;
    height: 50px;
  }
  
  .logo{
    width: 155px;
    height: 76px;
  
    font-family: 'Caveat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 76px;
  
    color: #000000;
  }
  
  .menu_text{
    height: 50px;
  
    font-family: 'Caveat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
  
    color: #000000;
  }
  
  .links{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .link{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 8%;
    margin-bottom: 6%
  }
  
  .buttons{
    height: 90px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
  } 

  .img{
    margin-top: 7%;
    margin-bottom: 5%;
    width: 80%;
  }

  .body{
    display: flex;
    margin-top: 5%;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .text{
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
  }

  .cart{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    border-bottom: 1px solid #AC4B1C;

  }
  .part_1{
    width: auto;
    height: auto;
    margin-bottom: 5%;
  }
  .part_text{
    text-align: center;
    margin-bottom: 5%;
  }

  .part_2{
    width: auto;
    height: auto;
    margin-left: 5%;
  }
  
  .colon{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    background: #FCA652;
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    justify-content: center;
  }

  .otz{
    display: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    justify-content: center;
  }

  .mes{
    margin-top: 2%;
  }

  .kol_vo{
    width: 10%;
    height: 10%;
    margin-top: 8%;
    margin-bottom: 6%
  }